# виртуальное окружение Python
.venv/

# кэш и временные файлы
__pycache__/
*.pyc
*.pyo
*.pyd

# база данных
*.db

# конфигурационные секреты
.env

# системные файлы macOS и IDE
.DS_Store
.idea/
.vscode/